name: boilerplate-python
channels:
  # - pytorch
  - conda-forge
  # We want to have a reproducible setup, so we don't want default channels,
  # which may be different for different users. All required channels should
  # be listed explicitly here.
dependencies:
  - python=3.10.*  # or don't specify the version and use the latest stable Python
  - conda-lock
  - mamba
  - pip  # pip must be mentioned explicitly, or conda-lock will fail
  # - pip:
  #   - "conda-lock"
  # - tensorflow=2.8.0
  # - pytorch::pytorch=1.11.0
  # - pytorch::torchaudio=0.11.0
  # - pytorch::torchvision=0.12.0

# Non-standard section listing target platforms for conda-lock:
platforms:
  - linux-64